// used to name infrastructure (CHANGE THIS)
name = "example"
aws = {
  region = "us-east-1"
}

extra_tags = {
  "owner" = "you@mirantis.com",
}

k0s = {
  k0s_version = "v1.30.1+k0s.0"
}

network = {
  cidr = "172.31.0.0/16"
}

subnets = {
  "Main" = {
    cidr       = "172.31.0.0/16"
    nodegroups = ["ACon", "AWrk"]
    private    = false
  }
}

// one definition for each group of machines to include in the stack
nodegroups = {
  "ACon" = { // managers for A group
    platform    = "ubuntu_22.04"
    count       = 3
    type        = "m6a.2xlarge"
    volume_size = 100
    role        = "controller"
    public      = true
    user_data   = ""
  },
  "AWrk" = { // workers for A group
    platform    = "ubuntu_22.04"
    count       = 6
    type        = "c6a.xlarge"
    volume_size = 100
    public      = true
    role        = "worker"
    user_data   = ""
  },
}
